body {
 min-height: 100vh;
 width: 100%;
 background-color: grey;
}

.container {
 width: 900px;
 height: 100px;
 padding: 0 2rem;
 margin: 0 auto;
 background-color: gold;
 display: flex;
 justify-content: center;
}

main {
 min-height: calc(100vh - 85px - 22px);
 padding: 1.5rem 0;
}

main a {
 text-decoration: none;
 color: rgb(67, 219, 12);
}

main a:hover {
 text-decoration: underline;
}

.active {
 color: red;
 cursor: default;
}
